@tailwind base;
@tailwind components;
@tailwind utilities;

*:has(> .react-tabs__tab-panel) {
  display: flex;
  flex-direction: column;
}
.react-tabs__tab-panel {
  flex-grow: 1;
}

/* Hide Blockly Toolbox's scrollbar. Bugs with it. */
.blocklyScrollbarVertical.blocklyFlyoutScrollbar {
  display: none;
}
